<a href="https://colab.research.google.com/github/DamodaraBarbosa/xbox_game_pass_analisys/blob/main/Xbox_Game_Pass_Data_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando as bibliotecas

In [1]:
import pandas as pd
from numpy import NaN
import seaborn as sns
import matplotlib.pyplot as plt

Importando os dados

In [2]:
gamepass = pd.read_csv('/content/drive/MyDrive/Dados Xbox/database_gamepass (1).csv')
gamepass.head()

,game,system,status,release_date,added,removed,genre,developer,publisher,esrb,...,addons,ta_score,gamerscore,ratio,gamers,comp_%,comp_time,rating,metascore,userscore
0,PERSONA 3 PORTABLE,Xbox / PC,Coming Soon,NaN,Jan 2023,NaN,Role-Playing,Atlus,Sega,M,...,[''],Unreleased,-,-,0,0.0,NaN,-,NaN,NaN
1,PERSONA 4 GOLDEN,Xbox / PC,Coming Soon,NaN,Jan 2023,NaN,NaN,Atlus,Sega,M,...,[''],Unreleased,-,-,0,0.0,NaN,-,NaN,NaN
2,HIGH ON LIFE,Xbox / PC,Coming Soon,NaN,Dec 2022,NaN,First-Person Shooter,NaN,NaN,M,...,NaN,Unreleased,-,-,0,0.0,NaN,-,NaN,NaN
3,HELLO NEIGHBOR 2,Xbox / PC,Coming Soon,NaN,Dec 2022,NaN,Strategy / Puzzle,Dynamic Pixels,TinyBuild,E10+,...,[''],Unreleased,-,-,0,0.0,NaN,-,NaN,NaN
4,WARHAMMER 40000 DARKTIDE,Xbox / PC,Coming Soon,NaN,Nov 2022,NaN,Action,Fatshark,Fatshark,RP,...,['Optimized for Xbox Series X/S'],Unreleased,-,-,0,0.0,NaN,-,NaN,NaN

In [3]:
gamepass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   game          1197 non-null   object
 1   system        1196 non-null   object
 2   status        1196 non-null   object
 3   release_date  753 non-null    object
 4   added         1197 non-null   object
 5   removed       646 non-null    object
 6   genre         1192 non-null   object
 7   developer     733 non-null    object
 8   publisher     733 non-null    object
 9   esrb          678 non-null    object
 10  esrb content  594 non-null    object
 11  addons        733 non-null    object
 12  ta_score      926 non-null    object
 13  gamerscore    926 non-null    object
 14  ratio         926 non-null    object
 15  gamers        926 non-null    object
 16  comp_%        926 non-null    float64
 17  comp_time     846 non-null    object
 18  rating        926 non-null    object
 19  metascore     753 non-null    object
 20  userscore     753 non-null    object
dtypes: float64(1), object(20)
memory usage: 196.5+ KB

## Tratamentos dos dados

Metascore

In [4]:
# substitui-se o valor 'tbd' por valor nulo:

gamepass['metascore'].replace('tbd', NaN, inplace= True)

In [5]:
# convertem-se os dados de metascore para float:

gamepass['metascore'] = gamepass['metascore'].astype(float)

Userscore

In [6]:
# substitui-se, também, os valor 'tbd' por valor nulo:

gamepass['userscore'].replace('tbd', NaN, inplace= True)

In [7]:
# convertem-se os dados de userscore para float:

gamepass['userscore'] = gamepass['userscore'].astype(float)

Gamers

In [8]:
# retira-se o caractere vírgula usando o método replace():

gamepass['gamers'] = gamepass['gamers'].str.replace(',', '')

In [9]:
# convertem-se esses dados para float:

gamepass['gamers'] = gamepass['gamers'].astype(float)

Gamerscore

In [47]:
# substitui-se os dados com caractere '-' por valor nulo,
# além das vírgulas que devem ser eliminadas:

gamepass['gamerscore'].replace('-', NaN, inplace= True)
gamepass['gamerscore'] = gamepass['gamerscore'].str.replace(',', '')

In [48]:
# convertem-se os dados da coluna gamerscore para float:

gamepass['gamerscore'] = gamepass['gamerscore'].astype(float)
gamepass['gamerscore'].unique()

array([  nan, 1000.,  250., 1200., 1850., 3650., 1845.,  200., 1450.,
       1500., 1260., 1695., 1285.,  400., 1180., 1560., 1060., 1755.,
       2915., 1870., 1195., 1115., 1600., 1390., 1300., 1615., 1110.,
       1250.,    0., 1585., 1425., 1190., 1380., 1460., 1350., 1210.,
       1305., 1640., 1735., 1800., 1550., 2000., 1430., 1290., 1370.,
       1150., 1090., 1545., 1490., 1400., 1750., 2750., 1315., 1215.,
       1030., 3000., 1700., 1435., 1730., 2030., 1070., 2375., 4000.,
       1075., 1170., 1540., 2820., 3610., 7000., 2600., 2400., 2490.,
       3730., 4100., 2510., 1925., 1360., 1325., 1050., 3810., 1520.,
       5220., 1790., 1100., 1620., 1710., 1340., 2250., 2985., 1470.,
       2310., 3050., 1185., 1240., 1675., 2200., 2080., 1270., 2150.,
       1345., 1875., 1570., 2500., 1690., 1605., 1680., 1137.,  450.,
        600.,  500.,  300., 1375., 2430., 1960., 2300., 1860.,  520.])

Percentual de completação dos jogos

In [10]:
# convertendo os dados de string para float:

gamepass['comp_%'] = gamepass['comp_%'].astype(float)

Tempo para completar o jogo

In [11]:
# a fonte, site True Achievements, estima um intervalo de algumas horas que os jogadores levam para completar os jogos:

gamepass['comp_time'].unique()

array([nan, '15-20 hours', '8-10 hours', '6-8 hours', '3-4 hours',
       '20-25 hours', '80-100 hours', '2-3 hours', '60-80 hours',
       '12-15 hours', '40-50 hours', '1000+ hours', '25-30 hours',
       '1-2 hours', '0.5-1 hour', '150-200 hours', '120-150 hours',
       '10-12 hours', '50-60 hours', '100-120 hours', '4-5 hours',
       '0-0.5 hours', '30-35 hours', '200-300 hours', '300-500 hours',
       '5-6 hours', '35-40 hours', '500-750 hours', '200+ hours'],
      dtype=object)

In [12]:
# substiu-se o caractere '-' por um espaço ' ':

gamepass['comp_time'] = gamepass['comp_time'].str.replace('-', ' ')

In [13]:
# retira-se o caractere '+':

gamepass['comp_time'] = gamepass['comp_time'].str.replace('+', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
# particiona-se para que uma lista seja formada usando o método split();

gamepass['comp_time'] = gamepass['comp_time'].str.split()

In [15]:
# itera-se para estimar a média de tempo para completar o jogo para cada jogo:

for index, time in enumerate(gamepass['comp_time']):
  try:
    if len(time) == 2:
      gamepass.at[index, 'comp_time'] = float(time[0])
    else:
      gamepass.at[index, 'comp_time'] = ((float(time[0]) + float(time[1])) / 2)
  except TypeError:
    pass

In [16]:
gamepass['comp_time'] = gamepass['comp_time'].astype(float)

True Achievements Score

In [60]:
# substitui-se os dados 'Unreleased' por dados nulos:

gamepass['ta_score'].replace('Unreleased', NaN, inplace= True)

In [61]:
# elimina-se a vírgula:

gamepass['ta_score'] = gamepass['ta_score'].str.replace(',', '')

In [62]:
# convertem-se os dados para o formato float:

gamepass['ta_score'] = gamepass['ta_score'].astype(float)

Rating

In [17]:
# para converter as avaliações (rating) do True Achievements:

gamepass['rating'].unique()

array(['-', nan, '3.8', '4.1', '4.5', '4.2', '2.4', '3.7', '4.3', '4.4',
       '3.0', '3.1', '2.8', '3.4', '2.5', '2.2', '4.0', '2.7', '3.6',
       '4.6', '3.2', '3.3', '3.9', '3.5', '2.6', '4.8', '2.9', '2.0',
       '4.7', '2.3'], dtype=object)

In [18]:
# substitui-se os dados '-' por valor nulo:

gamepass['rating'].replace('-', NaN, inplace= True)

In [19]:
# convertem-se os dados da coluna rating para o tipo float:

gamepass['rating'] = gamepass['rating'].astype(float)

Ratio

In [21]:
gamepass['ratio'].unique()

array(['-', nan, '1.31', '2.97', '1.29', '1.22', '1.42', '1.17', '2.02',
       '11.79', '9.01', '1.57', '5.20', '3.54', '12.63', '1.47', '6.97',
       '4.19', '2.41', '2.22', '1.65', '6.38', '6.67', '1.86', '1.67',
       '3.26', '2.58', '1.36', '1.77', '1.96', '3.27', '1.56', '1.25',
       '2.13', '2.70', '17.69', '3.75', '1.53', '4.45', '3.09', '2.25',
       '2.17', '3.22', '3.32', '5.02', '2.92', '2.86', '4.27', '3.40',
       '11.50', '8.40', '2.57', '3.05', '5.33', '3.20', '6.28', '4.16',
       '1.89', '4.72', '2.03', '6.07', '5.47', '4.93', '4.23', '7.42',
       '19.87', '1.51', '1.32', '2.55', '2.24', '1.92', '4.38', '1.13',
       '2.90', '3.28', '1.59', '1.48', '2.91', '1.60', '1.94', '3.88',
       '9.42', '1.87', '18.32', '5.94', '2.82', '1.40', '4.77', '1.23',
       '4.88', '1.80', '3.61', '5.96', '2.62', '11.15', '4.02', '1.84',
       '1.62', '1.85', '3.03', '2.83', '1.27', '2.11', '3.14', '2.37',
       '5.53', '2.38', '2.33', '1.45', '1.76', '5.27', '1.82', '3.01',
       '3.29', '11.18', '3.38', '3.16', '7.89', '4.75', '5.56', '2.65',
       '5.37', '5.63', '6.12', '3.90', '3.98', '2.68', '2.19', '2.93',
       '3.62', '2.80', '3.73', '1.70', '2.61', '3.63', '3.53', '4.82',
       '20.96', '5.25', '1.00', '3.58', '2.72', '3.19', '2.78', '4.62',
       '11.57', '1.91', '2.09', '3.04', '5.88', '2.44', '1.99', '4.17',
       '3.45', '3.66', '2.23', '1.46', '6.45', '5.92', '1.43', '1.97',
       '8.52', '2.28', '3.47', '3.18', '2.18', '2.04', '2.49', '2.46',
       '2.98', '3.13', '2.87', '2.50', '3.39', '3.80', '4.29', '3.07',
       '2.07', '2.71', '1.26', '2.42', '1.88', '5.14', '3.00', '1.55',
       '2.31', '1.69', '1.71', '5.08', '2.15', '1.72', '11.83', '2.81',
       '3.93', '3.06', '3.10', '6.66', '5.71', '3.49', '3.81', '2.29',
       '5.55', '5.31', '1.93', '2.89', '11.31', '4.42', '6.53', '4.89',
       '2.74', '2.48', '10.48', '4.76', '1.37', '3.87', '3.08', '2.94',
       '7.41', '3.91', '2.84', '8.13', '9.18', '8.88', '2.10', '1.75',
       '3.23', '2.76', '10.55', '3.51', '6.74', '6.14', '4.44', '4.78',
       '5.64', '2.12', '7.25', '1.95', '2.34', '4.03', '6.54', '4.09',
       '4.08', '3.65', '11.59', '4.24', '1.06', '3.41', '1.05', '1.78',
       '3.31', '1.10', '3.11', '3.43', '2.36', '3.97', '4.54', '3.89',
       '7.37', '8.26', '2.51', '2.00', '6.89', '5.11', '1.83', '1.38',
       '1.81', '6.73', '2.69', '2.56', '2.47', '3.52', '4.83', '3.77',
       '5.82', '11.85', '2.85', '3.79', '10.45', '3.68', '3.56', '1.98',
       '7.56', '5.66', '2.75', '6.21', '3.57', '2.01', '5.49', '5.99',
       '4.90', '6.43', '3.60', '14.04', '1.20', '3.37', '4.04', '2.99',
       '1.61', '2.35', '5.90', '1.15', '6.52', '4.53', '21.46', '8.74',
       '9.48', '1.50', '1.49', '4.70', '9.90', '2.30', '3.76', '3.12',
       '11.80', '4.40', '4.99', '5.00', '4.07', '2.77', '1.44', '8.27',
       '2.16', '6.31', '2.20', '3.36', '6.75', '3.86', '4.95', '1.66',
       '3.44', '2.45', '2.21', '2.95', '2.43', '3.64', '1.58', '4.12',
       '16.14', '1.11', '2.73', '4.46', '5.06', '6.85', '5.45', '4.00',
       '3.71', '2.52', '7.07', '5.89', '4.26', '2.67', '4.35', '1.14',
       '1.24', '5.30', '4.33', '4.48', '5.73', '1.73', '5.48', '7.22',
       '14.22', '7.14', '5.16', '3.34', '7.64', '1.02', '8.59', '3.92',
       '3.15', '3.70', '9.28', '1.21', '1.54', '1.41', '4.86', '1.52',
       '4.68', '7.49', '2.08', '3.24', '9.86', '3.02', '4.55', '8.62',
       '2.27', '3.17', '1.12', '5.17', '1.90', '3.83', '5.60', '2.32',
       '3.25', '11.46', '7.75', '5.42', '7.28', '2.66', '5.86', '1.64',
       '4.34', '5.26', '5.58', '6.20', '4.58', '6.47', '2.06', '3.30',
       '1.74', '2.26', '3.78', '9.21', '6.41', '5.91', '4.52', '3.48',
       '7.58', '9.19', '3.82', '5.28', '18.30', '8.30', '4.65', '4.22',
       '9.51', '4.37', '5.39', '4.13', '4.25', '2.14', '5.38', '3.72',
       '4.60', '2.60', '1.68', '5.15', '7.09', '5.61', '2.05', '2.40',
       '4.63', '6.91'], dtype=object)

In [22]:
# substituindo o caractere '-' por um dado nulo:

gamepass['ratio'].replace('-', NaN, inplace= True)

In [24]:
# convertem-se os dados da coluna ratio para float:

gamepass['ratio'] = gamepass['ratio'].astype(float)

Convertendo as colunas com datas para tipo datetime

In [35]:
# para coluna release_date:

gamepass['release_date'] = pd.to_datetime(gamepass['release_date'])
gamepass['release_date'].tail()

1192   2014-02-19
1193   2012-06-06
1194   2015-10-27
1195   2015-09-25
1196   2013-06-19
Name: release_date, dtype: datetime64[ns]

In [37]:
# para coluna removed:

gamepass['removed'] = pd.to_datetime(gamepass['removed'])
gamepass['removed'].tail()

1192   2018-03-01
1193   2018-03-01
1194   2018-01-01
1195   2017-12-01
1196   2017-08-01
Name: removed, dtype: datetime64[ns]

In [38]:
# para coluna added:

gamepass['added'] = pd.to_datetime(gamepass['added'])
gamepass['added'].tail()

1192   2017-06-01
1193   2017-06-01
1194   2017-06-01
1195   2017-06-01
1196   2017-06-01
Name: added, dtype: datetime64[ns]

## Exportando o dataframe

In [64]:
gamepass.to_csv('data_gamepass.csv', index= False)